/* Defaults */
:root {
    --active-color: #00aa22;
    --font-color: black;
    --border-2px: 2px solid black;
    --border-4px: 4px solid black;
    --border-8px: 8px solid black;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: monospace;
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

button {
    border: none;
    background: none;
}

a:hover,
button:hover {
    color: var(--active-color);
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Page */
nav {
    height: 3rem;
    padding: 0.4rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

.nav-home {
    margin-left: 2rem;
    margin-right: auto;
}

.nav-menu {
    margin-right: 2rem;
}

.app {
    height: 45rem;
}

.app-header {
    margin-top: 2rem;
    text-align: center;
}

.app-content {
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.home-canvas {
    border: var(--border-4px);
    width: 500px;
    height: 500px;
}

.home-canvas canvas {
}

@media (max-width: 575px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1199px) {
}
