/* Defaults */
:root {
    --red: #aa2222;
    --green: #22aa22;
    --blue: #2222aa;
    --orange: #eeaa11;
    --magenta: #dd22dd;
    --cyan: #288888;
    --white: #eeeeee;
    --grey: #888888;
    --black: #111111;

    --active-color: var(--orange);
    --font-color: var(--black);
    --font-family: monospace;

    --border-2px: 2px solid var(--black);
    --border-4px: 4px solid var(--black);
    --border-8px: 8px solid var(--black);

    --border-r-2px: 2px solid var(--red);
    --border-g-2px: 2px solid var(--green);
    --border-b-2px: 2px solid var(--blue);
    --border-o-2px: 2px solid var(--orange);
    --border-m-2px: 2px solid var(--magenta);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 100%;
    font-family: var(--font-family);
    color: var(--font-color);
}

a {
    text-decoration: none;
    color: var(--font-color);
}

button {
    border: none;
    background: none;
}

a:hover,
button:hover {
    color: var(--active-color);
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

nav {
    height: 3rem;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
}

/* Stock Classes */
/* Inputs */
.control-button {
    border: var(--border-2px);
    border-radius: 16%;
    color: var(--black);
    font-size: 1.6rem;
    font-weight: bold;
    width: 2.4rem;
    height: 2.4rem;
}

.control-button:hover {
    transform: scale(1.2);
}

.control-button:active {
    transform: scale(1);
}

.control-value {
    font-size: 1.6rem;
    font-weight: bold;
}

/* Navbar */
.nav-home {
    margin-left: 1rem;
    margin-right: auto;
}

.nav-menu {
    margin-right: 1rem;
}

/* Pages */
.page-header {
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}

.page-content {
    margin: auto;
    margin-top: 2rem;
}

/* Home Page */
.home-canvas {
    width: 50rem;
    height: 50rem;
    margin: auto;
}

/* Media Queries */
/* Mobile */
@media (max-width: 575px) {
    .page-header {
        margin-top: 1rem;
    }

    .page-content {
        margin-top: 1rem;
    }

    .home-canvas {
        width: 100%;
        height: 30rem;
    }

    /* Stuff Page */
    .stuff-canvas {
        border: var(--border-2px);
        width: 22rem;
        height: 22rem;
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 767px) {
    .home-canvas {
        width: 30rem;
        height: 30rem;
    }

    .stuff-canvas {
        width: 22rem;
        height: 22rem;
    }

    .voronoi-canvas {
        width: 30rem;
        height: 30rem;
    }
}

/* Monitors */
@media (min-width: 768px) and (max-width: 1199px) {
    .home-canvas {
        width: 40rem;
        height: 40rem;
    }

    .voronoi-canvas {
        width: 34rem;
        height: 34rem;
    }
}
