/* Stuff Page */
.stuff-content {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.stuff-item {
    display: flex;
    flex-direction: column;
}

.stuff-canvas {
    border: var(--border-2px);
    width: 28rem;
    height: 28rem;
}

.stuff-header {
    border: var(--border-2px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
}

.stuff-header p {
    margin-left: 2rem;
    font-size: 1rem;
}

.stuff-header a {
    margin-right: 1rem;
    font-size: 1.4rem;
}
