/* Voronoi Page */
/* .voronoi-content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.voronoi-canvas {
    border: var(--border-4px);
    height: 40rem;
    width: 40rem;
}

.voronoi-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.voronoi-text {
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* 
.voronoi-controls button {
    border: var(--border-2px);
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
}

.voronoi-controls button > i {
    color: var(--black);
    font-size: 1.2rem;
    font-weight: bold;
}

.voronoi-controls p {
    font-size: 1.4rem;
} 
*/
