/* .vortex-content {
    border: var(--border-4px);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
} */

/* .vortex-controls {
    border: var(--border-4px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.vortex-control-row {
    border: var(--border-4px);
    display: flex;
} */

/* .vortex-controls button {
    border: 2px solid black;
    font-size: 1.2rem;
    width: 2rem;
    height: 2rem;
}

button i {
    font-size: 1.2rem;
    margin: auto;
} */

/* .vortex-controls p {
    font-size: 1.4rem;
} */
/* .svg-controls {
    flex-direction: column;
} */
